@import url(https://fonts.googleapis.com/css?family=Outfit:100,200,300,regular,500,600,700,800,900);
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  background-color: #000;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1px;
}
